body{
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
}
.location-container{
    display: flex;
    justify-content: center;
    background-color:#C0C0C0;
    border-radius: 0px 0px 25px 25px;
}
.location{
    margin-top: -30px;
    margin-bottom: -30px;
    padding-left:50vh;
    padding-right:50vh;
}
.location h1{
    text-align: center;
    font-size: 45px;
}
.date{
    margin-top:-70px;
    padding-bottom: 0px;
    margin-left: -30vh;
    margin-right: -30vh;
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-size: 25px;
}
.date .left button{
    border:none;
    cursor: pointer;
    background-color: transparent;
    /* margin-top:-30px; */
}
.date .left img{
    width: 9vh;
}
.date .right button{
    border:none;
    cursor: pointer;
    background-color: transparent;
    /* margin-top:-60px; */
}
.date .right img{
    width: 9vh;
}
.navbar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding:5px;
    background-color:#e5e5e5;
    display: flex;
    justify-content: space-evenly;
}
/* .navigation{
    display: flex;
    justify-content: space-between;
    background-color: red;
} */
.nav-item {
    margin: 0 10px;
    cursor: pointer;
}

.nav-item:hover {
    background-color: #C0C0C0;
    padding:2px 80px;
    border-radius:30px;
    margin:0px;
    color: white;
}

.nav-item.active {
    background-color: #C0C0C0;
    padding:2px 80px;
    border-radius:30px;
    margin:0px;
    color: white;
}
.nav-item img{
    width:6vh;
}
.table-container{
    display: flex;
    justify-content: center;

}
.inner-container{
    margin-top: 5vh;
    margin-bottom:10vh;
    padding: 10px;
}
table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border-right: 1px solid #000;
    text-align: center;
    font-weight: bold;
    padding: 10px 20px 10px 20px;
    color: white;
}

th {
    background-color: #C0C0C0;
    color: #000;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}
tr.late {
    background-color: #ff474c; /* Red background for late */
}

tr.early {
    background-color: #008000; /* Green background for early */
}

tr.empty {
    background-color: #14213D !important;
}
