body{
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
}
.location-container{
    display: flex;
    justify-content: center;
    background-color:#C0C0C0;
    border-radius: 0px 0px 25px 25px;
}
.location{
    margin-top: -30px;
    margin-bottom: -30px;
}
.location h1{
    text-align: center;
    font-size: 70px;
}
/* --------------------------------------- */
.align-btn1{
    display: flex;
    justify-content: space-evenly;
    margin-top:30px;
}
.comfort{
    width:70vh;
}
.comfort button{
    padding: 10px 0px 10px 0px;
    cursor: pointer;
    width: 100%;
    border: none;
    border-radius: 25px;
    font-size: 15px;
    background-color: #C0C0C0;
}
.faculty{
    width:70vh;
}
.faculty button{
    padding: 10px 0px 10px 0px;
    cursor: pointer;
    width: 100%;
    border: none;
    border-radius: 25px;
    font-size: 15px;
    background-color: #C0C0C0;
}
/* --------------------------------------- */
.align-btn2{
    display: flex;
    justify-content: space-evenly;
    margin-top:30px;
    /* margin-bottom:75px; */
}
.clinic{
    width:70vh;
}
.clinic button{
    padding: 10px 0px 10px 0px;
    cursor: pointer;
    width: 100%;
    border: none;
    border-radius: 25px;
    font-size: 15px;
    background-color: #C0C0C0;
}
.office{
    width:70vh;
}
.office button{
    padding: 10px 0px 10px 0px;
    cursor: pointer;
    width: 100%;
    border: none;
    border-radius: 25px;
    font-size: 15px;
    background-color: #C0C0C0;
}
.navbar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding:5px;
    background-color:#e5e5e5;
    display: flex;
    justify-content: space-evenly;
}

.nav-item {
    margin: 0 10px;
    cursor: pointer;
}

.nav-item:hover {
    background-color: #C0C0C0;
    padding:2px 80px;
    border-radius:30px;
    margin:0px;
    color: white;
}

.nav-item.active {
    background-color: #C0C0C0;
    padding:2px 80px;
    border-radius:30px;
    margin:0px;
    color: white;
}
.nav-item img{
    width:6vh;
}